@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-banner {
  /* background-image: url('/hero.svg'); */
  height: 100;
  background-position: center;
  background: linear-gradient(rgba(36, 55, 99, 0.8), rgba(36, 55, 99, 0.8)),
    url("/gofer-img.png");
  background-size: contain;
}

.banner {
  background-position: center;
  background: linear-gradient(90deg, #3d7eaa 0%, rgba(1, 30, 62, 0.56) 100%);
}

.flexGrow {
  flex-grow: 1;
}
